<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="SwStatus" value="company" />
    <add key="LanguageMode" value="99" />
    <add key="realtimeout" value="300" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="SYSParamPath" value="SysParam.data" />
    <add key="FONT_TitleENPath" value="resource\font\ArgentumSans-Medium.ttf" />
    <add key="FONT_TextENPath" value="resource\font\ArgentumSans-Light.ttf" />
    <add key="FONT_TitleZHPath" value="resource\font\SourceHanSans-Medium.ttf" />
    <add key="FONT_TextZHPath" value="resource\font\SourceHanSans-Regular.ttf" />
    <add key="FONT_TitleRUPath" value="resource\font\OPPO Sans 4.0.ttf" />
    <add key="FONT_TextRUPath" value="resource\font\OPPO Sans 4.0.ttf" />
    <add key="ASCENT_GOGGLES_Path" value="resource\pdf\Ascent_Goggles_manual V1.0.pdf" />
    <add key="ASCENT_LITEVTX_Path" value="resource\pdf\Ascent_Lite_manual_V1.0.pdf" />
    <add key="ASCENT_VRX_Path" value="resource\pdf\Ascent_VRX_manual V1.0.pdf" />
    <add key="ASCENT_GTPRO_Path" value="resource\pdf\Ascent_GTPro_manual V1.0.pdf" />
    <add key="HUB_JSON_Path" value="resource\param\mipi_hub.json" />
    <add key="RCMODE_JSON_Path" value="resource\param\msp_rc_cfg.json" />
    <add key="UpdateProductVariant" value="C" />
    <add key="UpdateUrl" value="https://github.com/CaddxFPV-Cust/Caddx-PC-Tool-C-Release" />
  </appSettings>
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.Windows.Forms.DoNotSupportActiveXControls=false;Switch.System.Windows.Forms.DontSupportReentrantFilterMessage=true;Switch.System.Windows.Forms.UseLegacyContextMenuStripSourceControlValue=false;Switch.System.Windows.Forms.UseLegacyToolTipDisplay=false;Switch.System.Windows.Forms.ScaleTopLevelFormMinMaxSize=false" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="3rdLibs" />
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>